body{
    margin: 0;
}
nav {
    align-items: center;
    background-color: #e78453;
    display: flex;
    height: 50px;
    justify-content: space-evenly;
}

nav a{
    color: #17386d;
    font-family: 'Permanent Marker', cursive;
    font-size: 20pt;
    text-decoration: none;
}

header{
    background-image: url("images/kages.jpg");
    background-size: cover;
    height: 500px;
}

section{
    background-color: #e5d0a9;
    display: flex;
    justify-content: space-evenly;
    font-family: 'Montserrat', sans-serif;
}

h1{
    font-family: 'Permanent Marker', cursive;
}

h2{
    font-family: 'Permanent Marker', cursive;
}

section  div:nth-child(1){
    text-align: center;
}
section div:nth-child(2){
    text-align: left;
}

section div {
    width: 40%;
}

div ul{
    list-style-image: url("images/ninja.png");
}

/*ul li:nth-last-child(odd){
    color: white;
}*/

footer{
    align-items: center;
    background-color: #E78453;
    display: flex;
    justify-content: center;
}

input::placeholder{
    font-family: 'Montserrat', sans-serif;
}

button{
    margin: 10px;
}

h3{
    font-family: 'Permanent Marker', cursive;
    justify-content: center;
    align-items: center;
    display: flex;
}

footer div:nth-child(2){
    display: flex;
    justify-content: center;
}

div a{
    margin: 10px;
}